<!-- Sorting by Category-->
<div class="main_title"><b>Analyse Bills</b></div>
<div class="portfolio_categories button-group filters-button-group">
    <ul>
        <li class="portfolio_category active is-checked" (click)="changeChart(1)">By Category</li>
        <li class="portfolio_category active is-checked" (click)="changeChart(2)">By Date</li>
        <li class="portfolio_category active is-checked" (click)="changeChart(3)">By Spend</li>
    </ul>
    <div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">
        <div class="portfolio_grid grid clearfix">
            <svg>
                
            </svg>
            
        </div>
        
    </div>
</div>